<!DOCTYPE html>
<html>
	<body>
		<p>
			<% if @role == "codebreaker" || defined?(@guess) %>
				<%= @display %>
			<% elsif defined?(@code) %>
				<%= @code %>
				<%= @role %>
			<% end %>
			<% if defined?(@turn) %>
				<br><br>
				Turn: <%= @turn %>
			<% end %>
		</p>
		</br>
		<p>
			<% if not defined?(@turn) %>
			<form action = 'submit'>
				<input type='text' name='role' />
				<button type='submit' name='submit'>Choose role</button>
			</form>
			<% elsif defined?(@turn) && @turn >= 14 || defined?(@message) && @message == "Code guessed correctly!" %>
			<form action = 'submit'>
				<button type = 'submit' name='start'>Play again</button>
			</form>
			<% elsif @role == "codemaker" && @turn == 1 || @code == 'rules' %>
			<form action = 'submit'>
				<input type='text' name='code' />
				<button type='submit' name='Make Code!'>Make code</button>
			</form>
			<% elsif @role == "codebreaker" || @guess == 'none' %>
			<form action = 'submit'>
				<input type='text' name='guess' />
				<button type='submit' name='Make Guess!'>Guess</button>
			</form>
			<% end %>
		</p>
		<p>
			<%= @message %>
			<% if defined?(@guess) %>
				<br>
				Last guess: <%= @guess %>
			<% end %>
		</p>
	</body>
</html>